<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/setup.css" type="text/css" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Flexbox container</h1>
    <div class="flex-container">
      <div class="flexbox-item flexbox-item-1">Flexbox container 1</div>
      <div class="flexbox-item flexbox-item-2">Flexbox container 2</div>
      <div class="flexbox-item flexbox-item-3">Flexbox container 3</div>
    </div>
  </body>
</html>
