* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

html {
  font-family: "Arimo", sans-serif;
  font-size: 62.5%;
}
