* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
}

:root {
    --main-dark: #465362;
    --white: #FEFCFB;
    --primary: #F34213;
}

/* Navbar */
.nav-header {
    background-color: var(--main-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
}

.navbar {
    width: 90vw;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    width: 6rem;
}

.nav-logo img:nth-child(2) {
    width: 2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in 250ms;

}

.show-nav-links {
    max-height: 10rem;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 0;
    display: block;
}

.nav-links a:hover {
    color: var(--primary);
    transform: scale(1.1);
}

@media screen and (min-width: 992px) {
    .nav-logo img:nth-child(2) {
        display: none;
    }

    .nav-links {
        max-height: 10rem;
        flex-grow: 1;
        flex-direction: row;
        margin-left: 2rem;
    }

    .nav-links a {
        padding: 0.5rem;
    }

    .nav-links div {
        flex-grow: 1;
        text-align: right;
    }

    .nav-links div a {

        display: inline-block;
        background-color: var(--primary);
        border-radius: 1rem;
    }

    .nav-links div a:hover {
        color: var(--white);
        transform: none;
    }

    .navbar {
        display: flex;
    }
}

/* Navbar end */
/* Main */

/* Main Home */
main {
    min-height: calc(100vh - 4rem - 3rem);
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
}

.slide-in {
    min-height: 100vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all ease-in-out 1000ms;
}

.slide-in-show {
    transform: translateX(0);
    filter: none;
    opacity: 1;
}


.slide-in h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    line-height: 1rem;
    text-transform: uppercase;
}

.slide-in p {
    color: gray;
    font-size: 1.1rem;
    margin: 0;
}

/* Main Home end */

/* Main Recipies */
.recpies-header {
    background: url('../img/main.jpeg');
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1rem;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white)
}

.hero-content h1 {
    margin: 0;
    font-size: 1.5rem;
}

.hero-content h3 {
    font-size: 0.8rem;
    margin: 0.2rem;
    color: rgb(198, 193, 193);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, blue);
    opacity: 0.4;
}

.recipies {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.col-two {
    order: 1;
}

.recipe {
    padding: 1rem 0;
    text-transform: capitalize;
    text-decoration: none;
    color: #465362;
    display: block;
}

.recipe img {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}

.recipe h4 {
    line-height: 1;
    margin: 0.5rem 0;
    color: black;
    font-weight: 200;
    font-size: 1.2rem;
}

.recipe p {
    line-height: 1;
    margin: 0;
    margin-bottom: 0.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 0.8rem;
}

.tags {
    order: 2;
}

.tags h3 {
    line-height: 1;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
}

.tag-box a {
    text-decoration: none;
    color: #465362;
    display: block;
    padding-right: 1rem;
    margin: 0.5rem 0;
}

.tag-box a:hover {
    color: var(--primary);
}

@media screen and (min-width: 992px) {
    .hero-content h1 {
        margin: 0;
        font-size: 3rem;
    }

    .hero-content h3 {
        font-size: 1.5rem;
        margin: 0.2rem;
        color: rgb(198, 193, 193);
    }

    .recipies {
        flex-direction: row;
    }

    .tags {
        flex-basis: 15rem;
        order: 1;
    }

    .col-two {
        flex-grow: 1;
        order: 2;
        display: flex;
        flex-wrap: wrap;
    }

    .recipe {
        padding: 0 1rem;
        flex-basis: 33%;
        margin: 1rem 0;
    }

    .recipe img {
        min-height: 12rem;
    }

    .tag-box {
        flex-direction: column;
    }
}

/* Main Recipies end */
/* Contact */
.location-box {
    margin-top: 2rem;
}

.location-box iframe {
    max-width: 100%;
    max-height: 70vh;
}

form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: #465362 1px 1px 4px;
}

.form-control {
    padding: 1rem;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input,
textarea {
    width: 100%;
    padding: 0.2rem;
    border: none;
    border-bottom: 1px solid #465362;
    outline: none;
}

.box-send {
    text-align: center;
}

.btn-send {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-send:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

@media screen and (min-width: 992px) {
    .contact {
        display: flex;
        gap: 1rem
    }

    .contact form {
        flex-grow: 1;
    }
}

/* Contact end */
/* Main end */

/* Footer */
footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: var(--white);

}

footer p {
    width: 90vw;
}

/* Footer end */