<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
    <link rel="stylesheet" href="../styles/navbar.style.css" type="text/css" />
    <link rel="stylesheet" href="../styles/main.style.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img src="../assets/img/bmw-01-logo-png-transparent.png" alt="logo" />
        <h1>The ultimate driving machine</h1>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item catalog-dropdown"><a href="#">Catalog</a></li>
          <li class="nav-item"><a href="#">About</a></li>
          <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="first-section">
        <article class="first-article">
          <h2>BMW</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit
            voluptas ut accusamus facere eveniet neque tenetur excepturi error
            illo iste, molestias eaque saepe beatae dolore aspernatur illum
            voluptatum reiciendis omnis amet. Enim quia, earum necessitatibus
            sed iure explicabo? Facilis maiores cumque nulla unde veniam
            doloribus, debitis et nobis quod voluptates cupiditate quos ea, amet
            eius doloremque vero beatae! Corrupti doloremque labore fugit illo
            neque tempore quae saepe ad consequatur laborum amet voluptatem
            cumque autem obcaecati, dicta facilis? Ullam totam rem modi
            praesentium illum distinctio fuga ex tempore minima, molestiae
            mollitia facilis error commodi aut doloremque, necessitatibus
            dolorum expedita rerum architecto pariatur natus ratione iusto
            autem. Quas voluptatibus sed dolor, alias ullam assumenda accusamus
            pariatur impedit consequatur tenetur. Ipsam consequatur laborum
            minus ad tempora maiores laudantium fugiat ut debitis dolores at,
            laboriosam voluptate dignissimos saepe eum rerum vitae molestiae ex
            tenetur sunt ipsum in distinctio? Quia, ipsum odio! Deleniti modi
            exercitationem asperiores in. Quos, autem laboriosam eius enim
            reiciendis perspiciatis officia laborum quisquam vel commodi dicta
            delectus tenetur error? Beatae nesciunt distinctio laborum ratione
            quibusdam debitis magnam doloribus dolorum quidem eveniet unde
            reprehenderit temporibus, libero id et dicta excepturi eligendi
            ipsum aliquam nobis! Laboriosam amet ipsam dolore tempore facilis,
            libero iure?
          </p>
        </article>
        <span class="divider-span"></span>
        <article class="second-article">
          <h2>New technologies</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non iusto
            eveniet possimus ex a nobis cupiditate dolorum velit recusandae iste
            laborum vero, reprehenderit quisquam corporis debitis quae
            consectetur quos dicta quasi sint. Fugit dolorem voluptatum quia
            mollitia dolor temporibus sed quidem soluta rerum quos reprehenderit
            quo, totam similique qui, quasi sit excepturi distinctio sint
            delectus. Velit nulla aliquid enim ea nihil voluptates, earum
            accusamus repellendus debitis facere alias natus, amet nisi. Ut,
            quod dolorem! Magnam, quae? Maxime laboriosam beatae fuga labore
            nobis magni illum consequuntur, cum porro officia atque tempora
            perspiciatis fugit earum! Sapiente aliquam molestiae voluptatum,
            aperiam odit culpa.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            mollitia sequi minima alias debitis, itaque nulla. Provident
            reprehenderit quos, delectus ipsum libero voluptatem accusantium aut
            quis ea corporis quisquam minima. Voluptates velit amet impedit
            placeat! Libero ipsam sunt voluptate eum facilis rem, repellat eius
            temporibus quam. Sit quia aperiam non fuga aspernatur magnam
            expedita vitae cumque natus temporibus eligendi veniam corrupti
            quasi quidem laudantium hic earum sunt consequatur pariatur, at
            exercitationem. Laudantium sapiente unde officia nisi beatae alias
            deleniti dolores, rem voluptatibus a in eius ipsam explicabo iusto
            harum autem molestiae animi nobis cupiditate velit architecto est
            maiores ratione praesentium. Amet, dignissimos adipisci maxime
            laboriosam sint hic quos minima cum consequuntur delectus itaque
            magni nihil quia labore doloremque qui nisi asperiores. Suscipit
            quas tempore consectetur id assumenda officiis ea, omnis ullam non
            laudantium libero ipsa nisi dolor soluta reprehenderit enim eius
            corporis eaque sed nam quae, labore rem quia. Quis consequuntur
            tempora dolorum minima commodi vero eum ipsam perspiciatis velit
            beatae nostrum natus consectetur dolores quasi non in quo numquam,
            iure fuga. Delectus quo quae cupiditate illo eos excepturi tempore
            cum facilis at quas corporis tempora, in quam possimus! Voluptatibus
            vitae quam quae quos reiciendis cupiditate ex. Provident,
            necessitatibus soluta!
          </p>
        </article>
      </section>
      <aside>
        <ul class="side-bar">
          <li class="side-bar-item"><a href="#">The 5 Series</a></li>
          <li class="side-bar-item"><a href="#">The M4</a></li>
          <li class="side-bar-item"><a href="#">The X3</a></li>
        </ul>
      </aside>
    </main>
    <footer>
        <div class="footer-div">
            <p>All rights reserved. <span>BMW 2022 &copy;</span></p>
        </div>
    </footer>
  </body>
</html>
