<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../styles/index-page.style.css"
      type="text/css"
    />
    <title>Index page</title>
  </head>
  <body>
    <header>
      <div class="header-brand">
        <h1>CSS Colors</h1>
        <h2>Our colorful lecture</h2>
      </div>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>List item</li>
          <li class="list-item-example">List item</li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="home" class="home">
        <h1>Welcome to my website</h1>
        <p class="styled-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
          assumenda suscipit? Voluptates, iure ipsam officia fugiat, unde cum
          obcaecati cumque repellendus exercitationem optio illo laborum,
          deleniti corporis quae libero eius voluptate quia iste? Repellendus
          nesciunt tempore expedita voluptates beatae velit.
        </p>
      </section>
      <section id="about" class="about">
        <article class="card">
          <h2 class="styled-p">About me</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
            corrupti cupiditate, distinctio facere totam ipsa. Necessitatibus
            praesentium temporibus vitae ratione nobis? Rem consequuntur
            eligendi placeat, perferendis illum provident sunt beatae saepe
            nobis temporibus dicta reprehenderit!
          </p>
        </article>
        <article class="card">
          <h2>About SEDC</h2>
          <p class="styled-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
            tempore non optio illum aliquam amet id mollitia nihil voluptas
            pariatur excepturi quidem neque nesciunt voluptatum illo. Soluta
            praesentium, sit amet quisquam totam, eligendi exercitationem
            excepturi vel autem, fugiat tempora? Minima qui sequi rem dolorum
            placeat delectus suscipit veritatis asperiores explicabo, provident
            magnam numquam est iure.
          </p>
        </article>
      </section>
      <section id="contact">
        <article class="contact-card">
          <h3>My contact info</h3>
          <ul>
            <li>johndoe@example.com</li>
            <li>+38970123456</li>
            <li>
              <a href="#">LinkedIn: John Doe</a>
            </li>
          </ul>
        </article>
        <div class="header-brand">
          <h1>CSS Colors</h1>
          <h2>Our colorful lecture</h2>
        </div>
      </section>
    </main>
    <footer>
      <p>SEDC 2022 &copy; <span>All rights reserved</span></p>
    </footer>
  </body>
</html>
