<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.styles.css" />
  </head>
  <body>
    <header>
      <div class="header-brand">CSS Fonts</div>
    </header>
    <main>
      <h1>Let's talk about fonts!</h1>
      <hr />
      <section class="font-size">
        <article class="absolute-size">
          <p class="font-s">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            molestias voluptatum non cupiditate. Inventore unde ipsa adipisci
            quasi dolore minima voluptatibus culpa et sit assumenda?
          </p>
          <p class="font-l">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, omnis
            sunt. Error libero corrupti odit?
          </p>
          <p class="font-xl">Lorem ipsum dolor sit amet.</p>
        </article>
      </section>
      <section class="relative-size">
        <div class="size-container">
          <article class="smaller">
            <h4>Article 1</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
              hic molestias praesentium sed quasi, dolorem maiores libero quae
              consequatur deserunt expedita quibusdam sit aliquid pariatur?
            </p>
          </article>
          <article class="larger">
            <h4>Article 2</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
              hic molestias praesentium sed quasi, dolorem maiores libero quae
              consequatur deserunt expedita quibusdam sit aliquid pariatur?
            </p>
          </article>
        </div>
      </section>
      <section class="weight">
        <h4>Font Weight</h4>
        <article class="weight-keywords">
          <p class="font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
            laudantium.
          </p>
          <p>
            <span class="w800">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
              nostrum debitis iusto, iure nulla odio, soluta natus, dolor
              dolores
            </span>
            <span class="w300">
              autem adipisci earum ipsum? Architecto et earum sint placeat
              obcaecati maiores.
            </span>
          </p>
        </article>
      </section>
      <section class="font-style">
        <h4>Font Style</h4>
        <article>
          <p class="oblique">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
            velit culpa ratione similique dolorem quae sit, qui optio, obcaecati
            odit magnam omnis provident corrupti a!
          </p>
          <p class="italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            quas!
          </p>
        </article>
      </section>
      <section class="text-transform">
        <h4>Text Transform</h4>
        <p class="uppercase">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad deleniti,
          quo cum omnis nihil officia ratione. Perferendis corrupti ipsa
          accusamus quam. Nihil iusto veritatis aliquid.
        </p>
        <p class="lowercase">HELLO FROM SEDC</p>
        <p class="capitalize">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
          tenetur sit. Nemo magnam rem ullam corporis? Laborum amet consequatur,
          nihil eveniet, voluptas harum porro tenetur doloremque voluptates
          accusamus minus. Facilis?
        </p>
      </section>
      <section class="text-decoration">
        <h4>Text Decoration</h4>
        <p class="decorated">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
          alias.
        </p>
      </section>
      <section class="height-spacing">
        <h4>Line Height and Letter/Word Spacing</h4>
        <p class="line-height">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
          vel eos unde repellat, quia provident dolor architecto quibusdam
          nostrum, debitis accusantium recusandae temporibus laboriosam. Facere
          omnis quisquam tempore molestias nihil ex voluptatibus neque! Labore,
          similique facilis. Quis quaerat eaque, distinctio totam quo,
          reprehenderit, pariatur placeat harum facere animi asperiores. Beatae?
        </p>
        <p class="letter-spacing">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex,
          laboriosam.
        </p>
        <p class="word-spacing">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum,
          qui.
        </p>
      </section>
      <section class="text-align">
        <h4>Text Align</h4>
        <p class="left-align">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          reiciendis numquam reprehenderit architecto nobis libero repellendus,
          quidem, at impedit obcaecati vero ipsum eaque perspiciatis deleniti
          vel corporis minus illum in.
        </p>
        <p class="right-align">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quibusdam
          temporibus, similique porro dolores fugiat non repellendus ut
          asperiores obcaecati quam! Adipisci quos vero aut facilis laboriosam,
          praesentium quod ratione.
        </p>
        <p class="center-align">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          reiciendis corporis alias quisquam, sequi fuga sed voluptatem
          doloribus, recusandae hic culpa labore minus vero ipsam et sit
          reprehenderit ex quod ipsum totam rem. Atque placeat modi repellat
          iusto quam cum sed dignissimos asperiores! Perspiciatis distinctio
          placeat possimus laborum quas numquam.
        </p>
      </section>
      <section class="text-shadow">
        <h4>Text Shadow</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusantium.
        </p>
      </section>
    </main>
    <footer>
      <p>SEDC 2022/23 &copy; All Rights Reserved.</p>
    </footer>
  </body>
</html>
