<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="This is web site for japanese cuisine"/>
    <meta name="author" content="Dana Tasevska"/>
    <meta name="keywords" content="japanse, cuisine, recepies, courses"/> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just one cookbook</title>
</head>
<body>
    <!--Header-->
    <header>
        <!--
        <audio src="audio/lucid-dreaming.mp3" controls loop type="audio/mp3">
            The browser cannot support audio format!
        </audio>
        -->
        <iframe src="https://liveonlineradio.net/player/?p=antenna-5-fm" style="width:100%; height:90px;" scrolling="no" frameborder="no"></iframe>
        <h1>Just one cookbook</h1>
        <form>
            <input type="search" name="search" id="search"
             placeholder="Search..."/>
             <input type="submit" value="Go!"/>
        </form>
        <!--Navigation element-->
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="recepies.html">Recepies</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="ourteam.html">Our team</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!--MAIN element-->
    <main>
        <section>
           <h2>Our favourites:</h2>
           <article>
              <h3>Honey Ginger Tea</h3>
              <p>
                Sip your way to a healthy start with a warming cup of shōgayu, or Honey Ginger Tea! 
                Not only is it a potent cold and flu remedy, but ginger tea also boasts a myriad of health benefits. 
                Learn how to make a simple cup at home and enjoy it all winter long.
                During the frigid winter months when cold and flu are rampant, I am reminded to take good care of my family 
                by cooking the right kind of food. One of my favorite wellness traditions is to make a 
                big pot of <span style="color: brown;">shōgayu (生姜湯)</span>— honey ginger tea. 
                This soothing tea with a spicy kick is known for its effect to warm up the body and keep the cold at bay.
                <span style="color:red"><a href="recepies.html">Let's cook up</a></span> some hot tee today!
              </p>
              <img src="img/Japanese-Ginger-Tea-5709-II.jpg" alt="Ginger Tea" width="300px" height="300px"/>
           </article>
           <article>
              <h3>Japanese Milk Bread</h3>
              <p>
                Japanese Milk Bread, or Shokupan, is possibly the best version of soft white bread! Known for 
                its milky-sweet taste and pillowy softness, it’s enjoyed daily in Japan as breakfast toast and sandwich bread. 
                If you’ve been searching for the perfect milk bread recipe, you’re in luck today. Here, 
                I’ll show you two different styles: One with a rounded top and one with a flat top.
              </p>
              <img src="img/Japanese-Milk-Bread-Shokupan-II.jpg" alt="Japanese milk bread" width="300" height="300"/>
           </article>
        </section>
    </main>
    <aside>
        <h4>Start cooking Japanese food</h4>
        <ul>
            <li><a href="courses.html">Start here!</a></li>
            <li><a href="">Kitchen tools</a></li>
            <li><a href="">Begginers tips</a></li>
        </ul>
        <a href="https://www.amazon.com/Just-Cookbook-Essential-Japanese-Recipes/dp/B087SMHVYP/ref=sr_1_1?crid=2S14799PZE118&keywords=just+one+cookbook&qid=1668448843&s=books&sprefix=just+one+cookbook%2Cstripbooks-intl-ship%2C292&sr=1-1" target="_blank">
            <img src="img/essential-japanese-recipes-volume-1.webp" alt="Japanese cookbook" width="300" height="300"/>
        </a>
    </aside>
    <!--DIV- no-semantic  block element-->
    <div style="text-align:center ; background-color: azure; border: 2px outset black;">
        <p>Sign up and receive our tips and newsletter</p>
        <label for="email">Add you mail address</label>
        <input type="email" name="email" id="email"/>
        <input type="submit"/>
    </div>
    <!--
    <video src="video/puppy.mp4" poster="img/golden.jpg"
           width="400" height="300" controls loop>
        File type not support
    </video>
    -->
    <!--Footer-->
    <footer>
        <small>All rights received 2022</small>
    </footer>
</body>
</html>