/* Relative positioning */

.child-one {
  position: relative;
  left: 20px;
  top: 25px;
}

.child-two {
  position: relative;
  left: 30px;
  top: 25px;
}

.child-three {
  position: relative;
  left: 40px;
  top: 25px;
}
