* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  background-color: lightblue;
  width: 80%;
  margin: auto;
  margin-top: 10vh;
}

.child-one {
    background-color: lightpink;
    width: 50%;
}

.child-two {
    background-color: lightgreen;
    width: 50%;
}

.child-three {
    background-color: lightcoral;
    width: 50%;
}

.btn-top {
    width: 30px;
    height: 30px;
    font-weight: 900;
    color: lightcyan;
    background-color: lightcoral;
    border-radius: 50%;
    border: none;
}
