<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      Parent one
      <div class="container-one">Child 1</div>
      <div class="container-two">Child 2</div>
      <div class="container-three">Child 3</div>
      <div class="container-parent-two">
        Parent two
        <h3>Hello from the other parent</h3>
      </div>
    </div>
  </body>
</html>
