.box{
    height: 100px;
    border: 2px solid black;
    text-align: center;
    margin: 15px;
}

#rgb {
    background-color: rgb(141, 134, 201);
}

#rgba {
    /* position: relative;
    bottom: 50px; */
    background-color: rgba(114, 90, 193, 50%); 
}

#hex{
    background-color: #CAC4CE;
}

#name{
    background-color: dodgerblue;
}

#hsl {
    background-color: hsl(60, 100%, 50%);
}

#hslLighter {
    background-color: hsl(60, 100%, 80%);
}

#hslDarker{
    background-color: hsl(60, 100%, 25%);
}

#hsla{
    /* position: relative;
    bottom: 50px; */
    background-color: hsla(120, 60%, 50%, 0.8);
}