
.container {
    width: 200px;
    height: 100px;
    display: inline-block;
    background-color: blue;
    color:white
}

#third {
    position: relative;
    top: 20px;
    left: 150px;
}

.relative {
    width: 500px;
    height: 300px;
    border: 5px solid blue;
    position: relative;
}

.absolute {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.extra {
    width: 400px;
    height: 200px;
    background-color: yellow;
}


.float {
    border: 1px solid red;
}

* {
    margin: 5px
}

.left {
    background-color: yellow;
    float: left;
    width: 100px;
    height: 100px;
}
.right {
    float: right;
    background-color: aqua;
    width: 100px;
    height: 100px;
}
